.box-layout {
  align-items: center;
  background: url("/images/bg.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;

  &__box {
    background: fade-out(#fff, 0.3);
    border-radius: 3px;
    padding: $l-size $m-size;
    text-align: center;
    width: 40rem;
  }

  &__title {
    line-height: 1;
    margin: 0 0 $m-size 0;
  }
}
